@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <title>Index</title>
    @*<script src="@Url.Content("~/app.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/bootstrap.js")" type="text/javascript"></script>
    @*<a href="@Url.Content("~/bootstrap.json")"></a>
    <link href="@Url.Content("~/bootstrap.css")" rel="stylesheet" type="text/css" />*@

    @*<script src="@Url.Content("~/app/view/index.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/app/view/indexViewController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/app/view/indexViewModel.js")" type="text/javascript"></script>*@

</head>
<body>
    <div>
        
    </div>
</body>
</html>
